<div class="new-box-wrap">
    <div class="new-box">
        <div class="slideshow-container">
            <div class="slide">
                <div class="slide-content"> 
                    <h3 style= "color: {{section.settings.header_text_color}};" class="{{section.settings.heading_size}}">{{section.settings.boxsection_header}}</h3>
                    {% for block in section.blocks %}
                        {% if block.type=='banner'%}
                            <img src="{{ block.settings.newfeature | img_url: 'master'}}" alt="{{ site.name }}">
                        {% endif %}
                    {% endfor %}
                </div> 
            </div> 
            <div class="slide">
                <div class="slide-content"> 
                    {% for block in section.blocks %}
                        {% if block.type =='banner' %}
                            <h3 style="color: {{section.settings.header_text_color}};" class="{{section.settings.heading_size}}">{{section.settings.boxsection_productname}}</h3> 
                            <p style="color: {{section.settings.header_text_color}};" class="{{section.settings.desc_size}}"> {{block.settings.productinfo}}</p> 
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="upcoming-container"> 
    <div class="upcoming_box"> 
        {% for block in section.blocks %}
            {% if block.type =='desktop' %}
                <div class="image-container"> 
                    <img src="{{block.settings.upcoming_banner | img_url: 'master'}}" alt="{{site.name}}"> 
                    <a href="/pages/shop"><button style="background: {{block.settings.button_bg}}; color: {{block.settings.text_color}};">{{block.settings.button}}</button> </a>
                </div> 
            {% endif %}
        {% endfor %}
    </div> 
</div> 


<style> 
    .new-box-wrap{
        background-color: {{section.settings.box_bgcolor}}; 
    }

</style> 

<script> 
 document.addEventListener('DOMContentLoaded', function() {
    var slides = document.querySelectorAll('.slide');
    var currentSlide =   0;
    var startX =   0;
    var endX =   0;
    var threshold =   50; // Threshold for swipe sensitivity

    // Set the first slide as active when the page loads
    slides[currentSlide].classList.add('active');

    // Function to toggle the slides
    function toggleSlide(direction) {
        slides[currentSlide].classList.remove('active');
        if (direction === 'left') {
            currentSlide = (currentSlide +   1) % slides.length;
        } else if (direction === 'right') {
            currentSlide = (currentSlide -   1 + slides.length) % slides.length;
        }
        slides[currentSlide].classList.add('active');
    }

    // Function to handle touch start
    function handleTouchStart(event) {
        startX = event.touches[0].clientX;
    }

    // Function to handle touch move
    function handleTouchMove(event) {
        endX = event.touches[0].clientX;
    }

    // Function to handle touch end
    function handleTouchEnd() {
        var distance = endX - startX;
        if (Math.abs(distance) > threshold) {
            if (distance >   0) {
                // Swipe left, show next slide
                toggleSlide('left');
            } else {
                // Swipe right, show previous slide
                toggleSlide('right');
            }
        }
    }

    // Attach the touch event listeners
    var slideshowContainer = document.querySelector('.slideshow-container');
    slideshowContainer.addEventListener('touchstart', handleTouchStart);
    slideshowContainer.addEventListener('touchmove', handleTouchMove);
    slideshowContainer.addEventListener('touchend', handleTouchEnd);
});

</script> 


{% schema %}
{
    "name": "new-product", 
    "settings":[
        {
            "type": "color",
            "id": "box_bgcolor", 
            "label": "New Arrival Background Color", 
            "default": "#000000" 
        }, 
        {
            "type": "text",
            "id": "boxsection_header", 
            "label": "Header of section"
        }, 
        {
            "type": "text", 
            "id": "boxsection_productname", 
            "label": "Header of Product Information"
        }, 
        {
            "type": "color", 
            "id": "header_text_color", 
            "label": "Header Color", 
            "default": "#ffffff"
        }, 
        {
            "type":"select", 
            "id": "heading_size", 
            "label": "Heading Size", 
            "options": [
                {
                    "value": "h2", 
                    "label": "Small"
                }, 
                {
                    "value": "h1", 
                    "label": "Medium"
                }, 
                {
                    "value": "h0", 
                    "label": "Big"
                }
            ], 
            "default": "h1"
        }, 
        {
            "type":"select", 
            "id": "desc_size", 
            "label": "Heading Size", 
            "options": [
                {
                    "value": "h4", 
                    "label": "Small"
                }, 
                {
                    "value": "h3", 
                    "label": "Medium"
                }, 
                {
                    "value": "h2", 
                    "label": "Big"
                }
            ], 
            "default": "h2"
        }, 
        {
            "type": "number", 
            "id": "img_width",
            "label" : "Image Width", 
            "default": 350
        }, 
        {
            "type": "number",
            "id": "img_height", 
            "label": "Image Height", 
            "default": 600
        }
    ], 
    "blocks":[
        {
            "type": "banner", 
            "name": "New Arival Banner",
            "settings": [
                {
                    "type":"image_picker", 
                    "id": "newfeature", 
                    "label": "New Arrival"
                }, 
                {
                    "type": "text", 
                    "id": "productinfo", 
                    "label": "Product Information"
                }
            ]
        },
        {
            "type": "desktop", 
            "name": "Desktop Section",
            "settings": [
                {
                    "type":"image_picker", 
                    "id": "upcoming_banner", 
                    "label": "Bananer Image"
                }, 
                {
                    "type": "text", 
                    "id": "button", 
                    "label": "Button", 
                    "default": "SEE MORE"
                },
                {
                    "type": "color", 
                    "id": "button_bg", 
                    "label": "Button Background Color", 
                    "default": "#000000"
                }, 
                {
                    "type": "color", 
                    "id": "text_color", 
                    "label": "Button Text Color", 
                    "default": "#ffffff"
                }
            ]
        }
    ], 
    "presets":[
        {
            "name": "New Arrival"
        }
    ]
}
{% endschema %}